:root {
    --main-bg-color: #0A090A;
    --main-text-color: #A09F9F;
    --main-text-hover: #C9AA5C;
    --item-text-colr: #CFCFCF;
    --line-bg-color: #BB3D28;
    --item-bg-color: #333;
    --item-bg-hover: rgba(100, 100, 100, 0.7);
}

body {
    font-size: 1em;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin: 20px;
    width: 760px;
}

.channels {
    display: grid;
    grid-template-columns: 30px repeat(4, 1fr);
    grid-column-gap: 5px;
    margin-bottom: 20px;
}
.channels > div {
    padding: 5px 10px;
    font-weight: bold;
}

.schedule {
    position: relative;
    max-height: 340px;
    overflow: scroll;
    font-size: 0.85em;
    display: grid;
    grid-template-columns: 30px repeat(4, 1fr);
    grid-auto-rows: 20px;
    grid-column-gap: 5px;
}

.schedule .line {
    position: absolute;
    width: 100%;
    font-weight: bold;
    border-top: 2px solid var(--line-bg-color);
    opacity: 0.5;
    z-index: 10;
}
.schedule .program {
    position: relative;
    margin: 2px 0;
}
.item {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    height: 100%;
    text-decoration: none;
    color: var(--item-text-colr);
    transition: 0.2s;
    background-color: var(--item-bg-color);
}
.item:hover {
    background-color: var(--item-bg-hover);
    box-shadow: 0 0 20px rgba(132, 132, 132, 0.2);
}
.item > .title{
    margin-top: 4px;
    position: sticky;
    top: 4px;
}
.item > .time {
    font-size: 0.7em;
}
.program > .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    background-color: var(--line-bg-color);
}
.item > .cur {
    font-weight: bold;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 20px;
    margin-bottom: 20px;
}
.days > div {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s ease-in;
    font-weight: bold;
    color: var(--main-text-color);
}
.days > div:hover, .days > div.active {
    color: var(--main-text-hover);
}