body {
    font-size: 1em;
    color: #666;
    margin: 20px;
    width: 760px;
}

.channels {
    display: grid;
    grid-template-columns: 30px repeat(4, 1fr);
    grid-column-gap: 5px;
    margin-bottom: 20px;
}
.channels > div {
    padding: 5px 10px;
    font-weight: bold;
}

.schedule {
    position: relative;
    max-height: 340px;
    overflow: scroll;
    font-size: 0.85em;
    display: grid;
    grid-template-columns: 30px repeat(4, 1fr);
    grid-auto-rows: 20px;
    grid-column-gap: 5px;
}

.schedule .line {
    position: absolute;
    width: 100%;
    font-weight: bold;
    border-top: 2px solid rgba(100, 100, 100, 0.15);
}
.schedule .program {
    position: relative;
    margin: 2px 0;
}
.item {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    height: 100%;
    text-decoration: none;
    color: #666;
    transition: 0.2s;
    background-color: rgba(232, 232, 232, 0.6);
}
.item:hover {
    background-color: rgba(232, 232, 232, 0.85);
    box-shadow: 0 0 20px rgba(132, 132, 132, 0.2);
}
.item > .title{
    margin-top: 4px;
    position: sticky;
    top: 4px;
}
.item > .time {
    font-size: 0.7em;
}
.program > .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    background-color: rgba(50, 50, 50, 0.15);
}
.item > .cur {
    font-weight: bold;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 20px;
    margin-bottom: 20px;
}
.days > div {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s ease-in;
    color: rgba(200, 200, 200, 0.55);
}
.days > div:hover, .days > div.active {
    color: rgba(100, 100, 100, 1);
}